{#
/**
 * @file
 * Default theme implementation for platform.
 *
 * Available variables:
 *  - entity: The platform entity instance.
 *  - content: The plugin output for the platform.
 *
 * @ingroup themeable
 */
#}
{% for child in content %}
  {{ child }}
{% endfor %}
